html {
    font-family: 'Montserrat', sans-serif;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
    margin: 1%;
    border-radius: 10px; 
}

header h1 {
    color: darkred;
}

section {
    display: flex;
    justify-content: space-around;  
}

article {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 0% 1em;  
}

article h2 {
    color: darkblue;
}