@media screen and (max-width: 900px) and (min-width:500px){

    nav button {
        display: none;
    }
    
    #hamb {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        white-space: nowrap;
    }

    main.home-page {
        margin: auto 2em;
    }

    main.home-page section {
        flex-direction: column;
    }

    main.home-page section a {
        max-width: 400px;
        min-height: 450px;
    }

    nav ul.hide {
        display: flex;
    }
    
    nav ul li {
        float: left;
        height: inherit;
    }
    
    nav ul li a {
        font-size: 3vw;
        height: inherit;
        border: solid #1b412d;
        border-width: 1px 1px 1px 0px;
    }

    div.gallery {
        grid-template-columns: 1fr 1fr;
    }

    section.finalsec {
        display: block;
        margin: 0px auto;
        max-width: 800px;
    }
    
    main.main-preston {
        max-width: 800px;
        margin: 0px auto;
    }

    main.main-gallery {
        max-width: auto;
        padding: 0%;
    }

    .hero-div img {
        max-width: 800px;
    }
    
    .stats {
        top: 10%;
        right: 10%;
    }
    
    .stats h3 {
        font-size: 4vw;
    }

    @media screen and (min-width: 800px) {
        .stats h3 {
            font-size: 32px;
        }
    }
    
    .stats p {
        font-size: 2.5vw;
    }
    
    @media screen and (min-width: 700px) {
        .stats p {
            font-size: 17.5px;
        }
    }
}