@media screen and (max-width: 500px) {

	nav ul li a {
		border-bottom: 1px solid #1b412d;
	}

	nav button {
		background-color: #4091b9;
		width: 100%;
		padding: 0.2em;
		border: none;
		border-top: #1b412d solid 1px;
		border-bottom: #1b412d solid 1px;
	}

	#hamb {
		display: flex;
		flex-direction: column;
	}

	#hamb.hide {
		display: none;
	}

	main.home-page section {
        flex-direction: column;
    }

	main.home-page section a {
        min-height: 400px;
    }

	div.gallery {
        grid-template-columns: 1fr;
    }

	.stats {
		top: 25px;
		right: 50px;
	}

	.stats h3 {
		font-size: 0.9em;
	}

	.stats p {
		font-size: 0.8em;
	}

}